// $accentColor = #00BAFF
$accentColor = #0093ff
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
.content
    max-width: 1024px!important
.custom-block.tip
    border-color: #00BAFF!important